.container-fluid {
  background: rgb(122, 95, 95);
  color: beige;
}
.d-flex{
  margin-right: 20px;
}
nav{
  color: beige;
}
#search-form{
  height: 35px;
}
#search-form .btn{
font-size: 16px;
margin-top: 0;
}
#container-xl {
  /* border: 2px solid rgb(2, 2, 2); */
  border-radius: 10px;
  height: 10vh;
  justify-content: space-between;
}
#container-xl {
    display: flex;
    justify-content: center;
    /* color: rgb(24, 26, 24); */
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
  
.pet-name {
    font-family: "Cursive";
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    color: rgb(32, 34, 32);   
}
  
#container-xl span {
  padding: 1%;
  width: 8vw;
  height: 50px;
  align-items: center;
  border-radius: 1em;
  border: 1px solid rgb(92, 80, 80);
  margin-top: 10px;
  justify-content: space-evenly;
  margin-left: 10px;
}
#container-xl span:hover{
  color: rgb(255, 255, 255);
  font-size: x-large;
  fill: aquamarine;
  cursor: -webkit-grabbing;
  background: rgb(114, 151, 151);
}
#section{
  margin-top: 10px;
}

.btn {
  position: relative;
  color: rgb(30, 32, 30);
  width: fit-content;
  margin: 5px;
}
button:hover {
  pointer-events: visibleStroke;
}
.like-glyph {
  color: rgba(5, 0, 0, 0.993);
  fill: red;
  height: 60rem;
  font-weight: 1000;
}


#pet-details * {
  color: rgb(34, 34, 32);
  font-style: italic;
  font-family: "Alkatra", cursive;
  font-size: 20px;
  /* background: red; */
}

#exampleFormControlInput1 {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
}
#exampleFormControlTextarea1 {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;
}

.card-body{
  align-self: center;
  align-self: flex-end;
  
}
  
#footer{
  height: 5%;
}
.like-glyph{
  height: 250px;
  width: 100px;
}
.like-glyph:hover {
    cursor: pointer;
    stroke: red;
  }
  .pet-actions{
    display: flex;
    background-color: brown;
  }
  
  .like-glyph.clicked {
    fill: red;
  }
  #input-form {
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    font-family: "Alkatra Curisive", cursive;
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 20px;
    justify-content: end;
    background: rgba(197, 180, 162, 0.438);
    display: block;
    
  }
  .list-group{
    width: 400px;
  }
::placeholder {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: cursive;
}

#pet-details li.like {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.2rem;
}

#pet-details .like-glyph {
  cursor: pointer;
}
#pet-details {
  border: 1px solid black;
  margin: 10px;
  width: auto;
  background-image: url("https://images.unsplash.com/photo-1501898047706-55903296cd09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZHVza3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pet-img {
  object-fit: cover;
  width: 300px;
  height: 380px;
  padding: 10px;
}

#pet-descri {
  padding: 10px;
}

@media (min-width: 992px) {
  #pet-details {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .col-md-4 {
    border-right: 1px solid black;
  }

  .pet-actions {
    justify-content: space-between;
  }
}
.home{
  width: 100%;
  height: 100vh;
  background-image: url("/images/cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content{
  text-align: center;
  padding-top: 200px;
  color: white;
  font-family: Courier New;
  font-style: oblique;
  font-weight: 600;
}
.home .content h5{
  color: white;
  font-size: 38px;
  font-weight: 500;
  text-shadow: 0px 1px 1px black;
}
#content{
background-image: url("https://images.unsplash.com/photo-1679823571624-85963f19724f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU3fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
}